

canvas {
    margin-top: 30px ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 40px ;
    box-shadow: 0px 20px 40px rgb(53, 53, 53) ;
}

.link {
    position: absolute;
    top: 800px ;
    left: 45% ;
}
